@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema Integral</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Proyecto final</h2>
        <p>
            En esta aplicacion se podra realizar lo aprendido en el curso.
        </p>
    </div>
</div>